In [60]:
# Imports

import requests
import pandas as pd

In [61]:
def get_data_as_pandas(name:str):
    
    name = name.lower()
    assert name in ('bimtra', 'cat-62', 'esperas', 'metaf', 'metar', 'satelite', 'tc-prev', 'tc-real')
    
    #URL da API que você deseja acessar
    url = f'http://montreal.icea.decea.mil.br:5002/api/v1/{name}'

    #Seu token de autenticação
    token = 'a779d04f85c4bf6cfa586d30aaec57c44e9b7173'

    #Realize a requisição GET
    response = requests.get(url=url,params={'token':token, 'idate':'2022-06-01', 'fdate':'2023-01-01'})
    assert response.status_code == 200

    res = response.json()

    return pd.DataFrame(res)

# BIMTRA_train

In [62]:
# Principal
BIMTRA_train = get_data_as_pandas('bimtra')
BIMTRA_train.to_parquet(r'..\dados\BIMTRA_train.parquet', index=False)
BIMTRA_train.sample(2)

,flightid,origem,destino,dt_dep,dt_arr
144249,5f415467f7faeda05e733cc4016327b6,SBGR,SBFL,1669540803000,1669543849000
69612,0100476c78f476fe854e68b35ea7b71f,SBBR,SBGR,1661680553000,1661685000000

In [63]:
CAT62_train = get_data_as_pandas('cat-62')
CAT62_train.to_parquet(r'..\dados\CAT62_train.parquet', index=False)
CAT62_train.sample(2)

AssertionError:

In [64]:
# Dados de Quantidades de Esperas em voo por hora
ESPERAS_train = get_data_as_pandas('esperas')
ESPERAS_train.to_parquet(r'..\dados\ESPERAS_train.parquet', index=False)
ESPERAS_train.sample(2)

       esperas           hora  aero
38735        0  1663455600000  SBPA
44334        0  1665036000000  SBRF

In [65]:
# Previsão de Dados Meteorológicos em Aeródromos
METAF_train = get_data_as_pandas('metaf')
METAF_train.to_parquet(r'..\dados\METAF_train.parquet', index=False)
METAF_train.sample(2)

               hora                                             metaf  aero
3749  1654614000000   METAF SBGL 071500Z 09003KT CAVOK 23/16 Q1012=\n  SBGL
8903  1656622800000  METAF SBGR 302100Z  27005KT CAVOK 16/07 Q1018=\n  SBGR

In [66]:
# Relatório de Dados Meteorológicos em Aeródromos
METAR_train = get_data_as_pandas('metar')
METAR_train.to_parquet(r'..\dados\METAR_train.parquet', index=False)
METAR_train.sample(2)

                hora                                              metar  aero
11641  1657414800000  METAR SBCT 100100Z 11002KT 0600 R33/1000 R15/1...  SBCT
19393  1665309600000  METAR SBFL 091000Z 20015KT 9999 SCT020 18/17 Q...  SBFL

In [67]:
# Satélite Meteorológico
SATELITE_train = get_data_as_pandas('satelite')
SATELITE_train.to_parquet(r'..\dados\SATELITE_train.parquet', index=False)
SATELITE_train.sample(2)

,data,path,tamanho
206,2022-06-09 18:00:00,http://satelite.cptec.inpe.br/repositoriogoes/...,1893688
296,2022-06-13 12:00:00,http://satelite.cptec.inpe.br/repositoriogoes/...,1720489

In [68]:
# Previsão de Troca de Cabeceiras de Pista
TC_PREV_train = get_data_as_pandas('tc-prev')
TC_PREV_train.to_parquet(r'..\dados\TC_PREV_train.parquet', index=False)
TC_PREV_train.sample(2)

                hora  troca aero
13768  1666454400000      1   CT
25887  1654354800000      0   GR

In [69]:
# Previsão de Troca de Cabeceiras de Pista
TC_REAL_train = get_data_as_pandas('tc-real')
TC_REAL_train.to_parquet(r'..\dados\TC_REAL_train.parquet', index=False)
TC_REAL_train.sample(2)

                hora nova_cabeceira antiga_cabeceira aero
15443  1667503445000             17               28   SV
1243   1655226594000             15               33   KP

In [70]:
# Tive que divir por 1000, pois tinhamos 3 zeros a mais no final do timestamp. Provavel para datas futuras.

BIMTRA_train.dt_dep = pd.to_datetime(BIMTRA_train.dt_dep/1000, unit='s')
BIMTRA_train.dt_arr = pd.to_datetime(BIMTRA_train.dt_arr/1000, unit='s')
BIMTRA_train.head()

,flightid,origem,destino,dt_dep,dt_arr
0,fcb2bf90345705318213ae1307c0f901,SBKP,SBRJ,2022-06-01 00:44:57,2022-06-01 01:26:00
1,c7c5c10716335b048f86d8c52fcba3f2,SBGR,SBRJ,2022-06-01 00:57:01,2022-06-01 01:32:53
2,3162de7203a972f071d5a48e8f0f4828,SBBR,SBRJ,2022-06-01 00:26:52,2022-06-01 01:43:45
3,8fcd243e9b9eebbe62ab145ce04b6ab5,SBKP,SBCF,2022-06-01 00:58:40,2022-06-01 01:41:41
4,504a62621cd231d6ab67e674ce538cd3,SBCF,SBFL,2022-06-01 01:00:38,2022-06-01 02:33:05

In [71]:
BIMTRA_train[BIMTRA_train.dt_dep== BIMTRA_train.dt_dep.min()]

,flightid,origem,destino,dt_dep,dt_arr
51,6df4c739f0c1b84ae570460e2de19cfc,SBRJ,SBSP,2022-06-01 00:00:46,2022-06-01 00:50:45